@import "../index";
.book-details {
  min-height: 100vh;
  color: rgb(36, 34, 33);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);

  justify-content: space-evenly;
  padding: 5.5rem 10px;
}
.book-img {
  align-self: center;
}
.menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  color: #970621;
  font-weight: bold;
  font-size: 25px;
  background-color: #e27f9136;
}
.menu a {
  color: #b13047;
  align-self: center;
  justify-self: center;
  transition: 0.2s ease-in-out;
}
.menu a:hover {
  transform: scale(1.1);
}
.menu-item {
  padding-right: 26px;
  padding-left: 20px;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-around;
  border: 1px solid rgb(194 39 39 / 8%);
}
.menu-item:active {
  background-color: rgb(194 39 39 / 8%);
}

.title {
  margin-bottom: 2rem;
  border-bottom: 1px solid black;
  display: inline-block;
}
.book-description {
  grid-column: span 3;
  color: #292525;
  margin: 0 20px;
  max-height: 400px;
  padding-top: 0;
}
.heading {
  color: $primary;
  margin-bottom: 1rem;
}
