@import "../index.scss";
.navbar {
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: $primary;
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
}
.logo-div {
  display: flex;
  align-items: center;
}
.logo-icon {
  margin-right: 1rem;
  font-size: 30px;
}
a {
  text-decoration: none;
  color: beige;
}

.logo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.fav-link {
  font-size: 20px;
  padding-right: 5rem;
}
.footer {
  width: 100%;
  min-height: 10vh;
  background-color: rgb(27, 25, 25);
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  position: absolute;
}
