.favorites {
  min-height: 80vh;
  width: 100%;
  padding: 5.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: grid;
  align-items: center;
  text-align: center;
  border: 1px solid white;
}
.no-fav {
  color: black;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 30px;
}
.return-btn {
  align-self: first baseline;
}
